/*hEADER*/

.header_image {
    top: 111px;
    position: absolute;


}

.header_img_mob {
    display: none;
}

header .header_image{
    width: 100vw;
    height: 75.4074vh;
}

.text-header {

top: 323px;
left: 323px;
font-family: 'CodePro';
font-size: calc(36px + 44 * (100vw / 1920));
font-weight: 900;
line-height: 96.82px;
text-align: left;
margin: 0;
    position: absolute;
    color: white;
}

/*Block-folms-gallery*/

.filmsCarousel {
    display: flex;
    margin-left: 162px;
}

.films {
    display: flex;
    margin-top: 800px;
    margin-left: 162px;
    gap: 100px;
}

.filmsContainer {
    position: relative;
    width: 358px;
    height: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.68%, rgba(0, 0, 0, 0) 67.11%, #000000 82.02%); 
}

.linear-gradient {
    z-index: 45;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.68%, rgba(0, 0, 0, 0) 67.11%, #000000 82.02%); 
}

.filmsImg {
    width: 358px;
    height: 400px;

}

.filmsImg::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.68%, rgba(0, 0, 0, 0) 67.11%, #000000 82.02%); 
}




@media screen and (max-width: 1050px) {
    * {
        margin: 0;
        padding: 0;
    }

    .header_image {
        display: none;
    
    }

    .header_img_mob {
        display: block;
        height: auto;
        width: 100%;
    }


    .text-header {
         width: 259px;
        height: 88px;
        top: 140.2917vw;
        line-height: 57px;
        font-size: 6.8750vw;
        left: 100px;


    }
} 
